DOJO_URL=http://localhost:8080/api/v2
DOJO_TOKEN=tu_nuevo_token_de_dojo_aqui #Copia tu token de DefectDojo aquí
GITHUB_API=https://api.github.com/repos/PAI-5-Charmaway/PAI-5-Charmaway
GITHUB_TOKEN=tu_nuevo_token_ghp_aqui #Copia tu token que empieza por ghp_ aquí